raw-data/
venv/
.git-orig/
Raw_Data_Crawling/github/repos/
Raw_Data_Crawling/github/repos_before/
Trace-based_Filtering_Module/github/windows/
Trace-based_Filtering_Module/github/repos_now/
Multi-granularity_Dependency_Extraction_Module/__pycache__/
TODO.md
.env